.page-contact {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
    > ul {
      list-style-type: none;
      margin-left: 40px;
    }
    > h2 {
      width: 80%;
      font-size: 1.2rem;
      line-height: 1.4;
      margin-bottom: 30px;
      color: $primary;
      font-family: $font-family-base;
    }
  }
}
